body {
      font-family: "Gill Sans", Helvetica, Arial, sans-serif;
      background-color: #33393A;
      color: #FDFDFD;
      border: none;
      margin: none;
}
#preso, .slide {
      background: #2E3436;
      border: none;
}
#footer {
      background: #33393A;
}
.bullets ul {
    font-size: 2em;
}
.bullets ul li {
    text-align: left;
    padding: 0.5em;
}
.smbullets ul {
    font-size: 1.8em;
}
a {
    color:#73E234
}

