.etsy-salable {
  width:200px;
  height:200px;
  
  overflow:hidden; 
  
  float:left;
  margin:1em;
  
  position: relative;
}

.etsy-salable h3 {
  background-color: #EDF5FA;
  opacity: 0.3;
  
  position: absolute;
  top:0;
  left:0;
}

.etsy-salable .price {
  background-color: #EDF5FA;
  opacity: 0.3;
  
  position: absolute;
  bottom:0;
  right:0;
}

.etsy-salable:hover h3,
.etsy-salable:hover .price {
  opacity: 1.0;
}
